PORT=5000
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.xxxxxxxx.supabase.co:5432/postgres
JWT_SECRET=genera_uno_con_node_crypto
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NODE_ENV=development